<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <style>
         h2 {
             font: normal 18px/1em Arial, Helvetica, sans-serif;
         }

         .search_box {
             padding: 3px;
             width: 200px;
         }

             .search_box + input {
                 color: #fff;
                 background-color: #62bee3;
                 height: 24px;
                 margin-left: -42px;
                 border: none;
                 padding-bottom: 2px;
             }

                 .search_box + input:focus {
                     color: #97d2fa;
                 }

                 .search_box + input:hover {
                     background-color: #97d2fa;
                 }

         .content .mainbar {
             padding-left: 10px;
         }
    </style>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="header_resize">
                @*<a class="navbar-brand" href="/" style="padding-bottom:5px;padding-top:12px;">
                        <img src="~/Images/Logo30px.png" width="25" /><b><em style="margin-left:15px;color:#eee">IShareSite</em></b>
                    </a>*@
                <div class="logo"><h1><a href="/">IShareSite</a> <small>优站分享,致力于分享实用的优秀网站</small></h1></div>
                <div class="menu_nav">
                    @{
                        Html.RenderAction("_TypeCrtl", "Types");
                    }
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="content">
            <div class="content_resize">
                <div class="mainbar">
                    @RenderBody()
                </div>
                <div class="sidebar">
                    @*<div class="searchform">
                            <form id="formsearch" name="formsearch" method="get" action="/Sites/@TempData["TypeCode"]">
                                <span><input name="keyword" class="editbox_search" id="editbox_search" maxlength="80" placeholder="搜索站点名称/URL..." type="text" /></span>
                                <input src="~/Content/images/search_btn.gif" class="button_search" type="image" />
                            </form>
                        </div>*@
                    <div class="gadget">
                        @*<form class="" action="/@TempData["TypeCode"]/1.html">*@
                        <form class="" action="1.html">
                            <input type="text" name="keyword" class="search_box" id="SearchForm" placeholder="搜索好站...">
                            <input type="submit" value="搜索" />
                        </form>
                    </div>
                    <div class="gadget">
                        <h3 class="star"><span>热门标签</span></h3>
                        <div class="clr"></div>
                        @{
                            Html.RenderAction("_TagCrtl", "Tags");
                        }
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <!-- 页脚  -->
        @*<div id="footer" class="text-center">
                <footer>

                    <div>
                        <a href="http://webscan.360.cn/index/checkwebsite/url/www.isharesite.com" target="_blank"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/1ced5c2280259d57448ca60ec6a8d93e/?size=74x27" /></a>
                    </div>
                    优站分享,致力于分享实用的优秀网站
                    <br />
                    Copyright © 2015-2017  <a href="http://www.isharesite.com/">IShareSite</a>.All Rights Reserved.
                    <a href="http://www.miibeian.gov.cn" title="网站备案号" target="_blank">京ICP备15047973号</a>
                    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1261815581'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1261815581%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                </footer>
            </div>*@
        <!--备用-->
        <div class="fbg">
            <div class="fbg_resize">
                @*<div class="col c1">
                        <h2><span>Image Gallery</span></h2>
                        <a href="#"><img src="images/pix1.jpg" width="58" height="58" alt="pix" /></a>
                        <a href="#"><img src="images/pix2.jpg" width="58" height="58" alt="pix" /></a>
                        <a href="#"><img src="images/pix3.jpg" width="58" height="58" alt="pix" /></a>
                        <a href="#"><img src="images/pix4.jpg" width="58" height="58" alt="pix" /></a>
                        <a href="#"><img src="images/pix5.jpg" width="58" height="58" alt="pix" /></a>
                        <a href="#"><img src="images/pix6.jpg" width="58" height="58" alt="pix" /></a>
                    </div>
                    <div class="col c2">
                        <h2><span>Lorem Ipsum</span></h2>
                        <p>Lorem ipsum dolor<br />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
                    </div>
                    <div class="col c3">
                        <h2><span>Contact</span></h2>
                        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.</p>
                        <p><a href="mailto:support@yoursite.com">support@yoursite.com</a></p>
                        <p>+1 (123) 444-5677<br />+1 (123) 444-5678</p>
                        <p>Address: 123 TemplateAccess Rd1</p>
                    </div>*@
                <div class="clr"></div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_resize">
                <div style="display: inline-block;">
                    <ul class="fmenu">
                        <li class=""><a href="index.html">首页</a></li>
                        <li><a href="/sucai/1.html">免费素材</a></li>
                        <li><a href="/gongju/1.html">在线工具</a></li>
                        <li><a href="/haowan/1.html">发现好玩</a></li>
                        <li><a href="/chaxun/1.html">便民查询</a></li>
                        <li><a href="/tisheng/1.html">个人提升</a></li>
                        <li><a href="/zhuanlan/1.html">行业专栏</a></li>
                    </ul>
                </div>
                <div>
                    <text>
                        优站分享,致力于分享实用的优秀网站 |
                    </text>
                    <text>
                        Copyright &copy; 2015-2017  <a href="http://www.isharesite.com/">IShareSite</a>.All Rights Reserved.
                        <a href="http://www.miibeian.gov.cn" title="网站备案号" target="_blank">京ICP备15047973号</a>
                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1261815581'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1261815581%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                    </text>
                    @*<p class="lf">&copy; Copyright <a href="#">MyWebSite</a>. Collect From <a href="http://www.cssmoban.com/" title="网页模板">网页模板</a></p>*@
                    <text><a href="http://www.isharesite.com/v1" title="网站历史版本" target="_blank" style="float:right;color:#bbb">优站分享v1</a></text>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
        <!--备用-->
    </div>
    <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "slide": { "type": "slide", "bdImg": "2", "bdPos": "right", "bdTop": "200.5" } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
    @*<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"0","bdPos":"right","bdTop":"200.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>*@
 @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/Common.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        jQuery(function () {
            ///活动菜单
            //debugger;
            var urlFilename = location.pathname;
            if (urlFilename && urlFilename.length > 7) {
                $(".navbar-nav li").removeClass("active");
                $(".navbar-nav li:has(a[href^='" + urlFilename.substr(0, 6) + "'])").addClass("active");
            }
          
            //站点添加时间显示样式
            jQuery(".site-add-date").each(function (n, ele) {
                if (ele.innerText.length > 0) {
                    ele.innerText = ele.innerText.substr(0, 11);
                }
            });
        });
    </script>
    <script>
        //百度自动推送
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();

        //百度统计
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?5f86045996483139413748abc268c7f6";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
