<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="网站分享,网站推荐,实用的网站大全,优秀网站导航,优秀网站大全,互联网技术导航" />
    <meta name="description" content="优站分享,致力于分享实用的优秀网站,论坛,博客,官网,关注网站涵盖了互联网技术,软件开发,编程,框架,架构,开源,前端,设计,移动端,数据库,大数据,人工智能,机器学习等,是IT人工作,学习的最佳导航网站" />
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    @*<link href="~/Content/bootstrap_min.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/bootstrap/css")
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #container {
            min-height: 100%;
            height: auto !important;
            height: 100%; /*IE6不识别min-height*/
            position: relative;
            /*font-size:10px;*/
        }

        #page {
            margin: 0 auto;
            padding-bottom: 60px; /*等于footer的高度*/
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /*脚部的高度*/
            background: #f1f1f1;
            clear: both;
        }

        body {
            padding-top: 70px;
        }
      .navbar-inverse .navbar-nav > li > a {
        color: #c2c2c2;
    }
    </style>

</head>
<body>
    @{
        Html.RenderAction("_TypeCrtl", "Types");
    }
    <div id="container">
        <div id="page">
            @RenderBody()
        </div>
        <!-- 页脚  -->
        <div id="footer" class="text-center">
            <footer>
                <br/>
                优站分享,致力于分享实用的优秀网站
           <br/>
                Copyright © 2015-2017  <a href="http://www.isharesite.com/">IShareSite</a>.All Rights Reserved.               
            </footer>
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/common")
    @*@Scripts.Render("~/bundles/jqueryui")*@
    @RenderSection("scripts", required: false)
</body>

</html>
