<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bootstrap_min.css" rel="stylesheet" />
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #container {
            min-height: 100%;
            height: auto !important;
            height: 100%; /*IE6不识别min-height*/
            position: relative;
            /*font-size:10px;*/
        }

        #page {
            margin: 0 auto;
            padding-bottom: 60px; /*等于footer的高度*/
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /*脚部的高度*/
            background: #f1f1f1;
            clear: both;
        }

        body {
            padding-top: 70px;
        }
    </style>

</head>
<body>
    @{
        Html.RenderAction("_TypeCrtl", "Types");
    }
    <div id="container">
        <div id="page">
            @RenderBody()
        </div>
        <!-- 页脚  -->
        <div id="footer" class="text-center">
            <footer>关于本站<br/>(未完成,进行中~)</footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*@Scripts.Render("~/bundles/jqueryui")*@
    @RenderSection("scripts", required: false)
</body>

</html>
