@{
    Layout = null;
}
@model  IList<BetterSite.Domain.M_Tags>
<!DOCTYPE html>
<html>
<head>
      <title>_TagCrtl</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            if (ViewBag.CheckdTags != null)
            {
                foreach (var item in Model)
                {
                    if (ViewBag.CheckdTags.Contains(item.TagId))
                    {
                        <input id="@item.TagId" name="TagId" value="@item.TagId" type="checkbox" checked="checked" />
                        <label for="@item.TagId">@item.TagName</label>
                    }
                    else
                    {
                        <input id="@item.TagId" name="TagId" value="@item.TagId" type="checkbox" />
                        <label for="@item.TagId">@item.TagName</label>
                    }
                }
            }
            else
            {
                foreach (var item in Model)
                {
                    <input id="@item.TagId" name="TagId" value="@item.TagId" type="checkbox"  />
       <label for="@item.TagId">@item.TagName</label>
                }
            }
            @*<input type="submit" value="提交" />*@
        }
    </div>
</body>
</html>
