@model IList<BetterSite.Domain.M_Blog>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>我的世界</title>
    <link href="~/Content/blogstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="body">
        <div class="head">
            <div class="mubiao">
                <div class="title"><h3>年度方向与目标-2017年</h3></div>
                <ol>
                    <li>还账：12 。</li>
                    <li>学习：读书12（精读，做笔记，画脑图）。限技术类，时间管理类，产品类，其它类目不计入此数。</li>
                    <li>英语等级，拼命过；软考，努力过。</li>
                    <li>收入：向nK看齐，进攻。</li>
                    <li>运动：每周两次有强度的运动，项目不限，出汗算数。</li>
                    <li>娱乐：至少一次一家三口出北京的游玩，回家探亲不算。</li>
                </ol>
                <strong>
                    做技术要不停的学习，做技术不能闭门造车；做事要注意效率，时间管理很重要；做完一件事要总结自己的收获，没有收获就等于白做。
                </strong>
            </div>
            <div class="mubiao">
                <div class="title"><h3>月度方向与目标-8月</h3></div>
                <ol>
                    <li>读书：《高效能人士的七个习惯》。《seo实战密码》。《这才是心理学》《儿童心理学手册》《心理学与生活》三选一。</li>
                    <li>优站：网站，每天添加3个。文章，每天10篇 转载。博客，每周至少2篇（没底气） 原创。</li>
                    <li>好好生活：不要忘记逛公园，不要忘记做锻炼。</li>
                    <li>努力工作：今日事，今日毕。注意效率，注意方法。</li>
                </ol>
                <strong>读书要做读书笔记或者读完画导图，不然等于白读。</strong>
            </div>
        
        </div>
        <div class="list">
            <ul>
                <li><span class="date">@DateTime.Now.Month 月</span></li>
                @for (int i = 0; i < Model.Count(); i++)
            {
                <li>
                    <span class="date">@Convert.ToDateTime(Model[i].CreateDate).Day</span>
                    <span class="title"><a href="/blog/@Model[i].Id" title="">@Model[i].Title</a></span>
                </li>
                    if ((i + 1) < Model.Count())
                    {
                        if (Convert.ToDateTime(Model[i].CreateDate).Year != Convert.ToDateTime(Model[i + 1].CreateDate).Year)
                        {
                <li><span class="date">@Convert.ToDateTime(Model[i + 1].CreateDate).Year </span></li>
                        }
                        if (Convert.ToDateTime(Model[i].CreateDate).Month != Convert.ToDateTime(Model[i + 1].CreateDate).Month)
                        {
                <li><span class="date">@Convert.ToDateTime(Model[i + 1].CreateDate).Month 月</span></li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="footer">
            <a href="/blog" title="About">a</a>
        </div>
    </div>
</body>
</html>
