@model BetterSite.Domain.M_Sites
<style>
        .article p {
            /*line-height: 150%;*/
            /*margin:0px;
            padding:0px;*/
            color: #666;
            /*margin-top: 20px;*/
            font-size: 13px;
            text-indent: 26px;
        }
                   .title {
            width: 450px;
            display: block;
            overflow: hidden;
            word-break: keep-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            float:left;
            text-decoration:none;
            color:#666;
        }
                     .title:hover{
             text-decoration:underline;
            color:#62bee3;
        }

            .visit{
                text-decoration: none;
                /*color: #666;*/
                font-size: 15px;
                float:right;
                display:block;
            }
             .visit:hover{
             text-decoration:underline;
            color:#555;
        }
         .article .send {
        padding:5px 8px 5px 8px;
        margin:5px 0 0 20px;
        }    
        .sitetypedata{
           padding: 10px 0 0 20px;
           border-bottom:1px solid #ccc;
           margin-bottom:15px;
        }
            .sitetypedata span {
                margin: 0 10px 0 10px;

            }
        .article hr {
        margin:0 0 10px 0;
        }
 .article .panel-body, 
 .article .comment-form,
 .article .bshare-custom,
 .article .nocommnettxt {
        margin:0 15px;
        }
</style>
<div class="article">
    <h2>
        <span><a class="title" href="@Model.SiteUrl" target="_blank" title="@Model.SiteUrl"> @Model.SiteName</a></span>
        <a href="@Model.SiteUrl" class="visit" target="_blank" rel="nofollow">
            <text>直达网站</text> <img src="~/Content/images/visit.png" style="border: none;" width="25" height="25" alt="icon" title="打开网站 &#10; @Model.SiteUrl">
        </a>
        <span>
            <small>
                <a class="title" style="color:#999;" href="@Model.SiteUrl" target="_blank" title="@Model.SiteName"> @Model.SiteUrl</a>
            </small>
        </span>
    </h2>
    <div class="clr"></div>
    <div class="sitetypedata">
        <span> 类别: <a href="/@Model.TypeCode/1.html" target="_self" title="@Model.TypeName">@Model.TypeName</a></span>
        <span>日期: <text class="site-add-date">@Model.SiteAddDate</text></span>
        <span>浏览数: @Model.SiteClickQuantity</span>
    </div>
    <img class="" src="\Images\SiteScreen\@{@Model.SiteCode}.jpg" alt="@Model.SiteName" title="@Model.SiteName" />
    <p class="siteprofile">

        @Html.Raw(Model.SiteProfile)
        @*<span>[<a href="/Sites/@Model.SiteCode" target="_blank" title="更多网站介绍">更多</a>]</span>*@
        @*<span>[<a href="/Sites/@item.SiteCode" target="_blank" title="直达官方网站 &#10; @item.SiteUrl">直达</a>]</span>*@
    </p>
    <div>
        <a href="@Model.SiteUrl" class="visit" target="_blank" rel="nofollow">
            <text>直达网站</text> <img src="~/Content/images/visit.png" style="border: none;" width="25" height="25" alt="icon" title="打开网站 &#10; @Model.SiteUrl">
        </a>
    </div>
    <p class="l fl div-SiteTags">
        标签:
    </p>

    <hr />
    <input type="hidden" class="hid-SiteTagsName" value="@Model.SiteTagsName" />

</div>
<div class="article">
    <div class="bshare-custom"><a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a title="分享到新浪微博" class="bshare-sinaminiblog">新浪微博</a><a title="分享到QQ好友" class="bshare-qqim">QQ好友</a><a title="分享到QQ空间" class="bshare-qzone">QQ空间</a><a title="分享到微信" class="bshare-weixin">微信</a><a title="分享到豆瓣" class="bshare-douban">豆瓣</a><a title="分享到人人网" class="bshare-renren">人人网</a><a title="分享到i贴吧" class="bshare-itieba">i贴吧</a><a title="分享到复制网址" class="bshare-clipboard">复制网址</a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><a class="bshareDiv" onclick="javascript:return false;"></a>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</div>
@*同类站点*@
<div class="article">
    <div class="panel-heading">
        <h4 class="panel-title">你可能喜欢</h4>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled ">
            @foreach (var item in ViewBag.ListType)
            {
            <li style="height:25px;width:600px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; ">
                <small> ★ </small><a href="/Sites/@item.SiteCode" target="_blank" title="@item.SiteName &#10; @item.SiteUrl"> @item.SiteName</a>
            </li>
            }
        </ul>
    </div>

</div>
<div class="article">
    <h3><span></span> 最新评论</h3><div class="clr"></div>
    @if (ViewBag.CommentList == null || ViewBag.CommentList.Count == 0)
    {
        <span class="nocommnettxt">暂无评论</span>
    }
    @foreach (var item in ViewBag.CommentList)
            {
    <div class="comment">
        <div>@item.CommentUserNickname:</div>
        <span>@item.CreateTime</span>
        <p>
            @item.CommentContent
        </p>
    </div>
    }
</div>
<div class="article">
    <h3>添加评论</h3>
    <div class="clr"></div>
    <form action="#" method="post" id="leavereply" class="comment-form">
        <ol>
            <li>
                <label for="name">昵称</label>
                <input type="text" class="text" id="Nickname" placeholder="网友">
            </li>
            <li>
                <label for="message">评论内容</label>
                <textarea class="form-control" id="CommentContent" rows="4" placeholder="文明上网理性发言，评论审核后显示，谢谢。"></textarea>
            </li>
            <li>
                <input type="hidden" id="hidSiteId" value="@Model.SiteId" />
                <button type="button" onclick="SubmitComment();" class="send">提交评论</button>
                @*<a href="#"  onclick="SubmitComment();" class="send" title="提交评论">提交评论</a>*@
                @*<input type="image" name="imageField" id="imageField" src="images/submit.gif" class="send" />*@
                <div class="clr"></div>
            </li>
        </ol>
    </form>
</div>
@section scripts {
    <script>
        function SubmitComment() {
            var commentContent = $('#CommentContent').val();
            if (!commentContent) return;
            var siteId = $('#hidSiteId').val();
            var nickname = $('#Nickname').val();
            if (!nickname) nickname = '网友';
            //  var formData = encodeURI('siteId=' + siteId + '&nickname=' + nickname + '&commentContent=' + commentContent);
            var formData = 'siteId=' + siteId + '&nickname=' + nickname + '&commentContent=' + commentContent;
            $.ajax({
                url: 'AddSiteComment',
                type: 'post',
                //  dataType: 'application/x-www-form-urlencoded;charset=UTF-8',
                async: true,
                data: formData,
                success: function (data, status, xhr) {
                    if (data.success) {
                        //  oriAlert(data.msg + ",将在审核后显示");
                        $('.comment-form').append('<div class="alert alert-info" role="alert">添加成功,评论将在24小时内审核后显示.</div>');
                    }
                    else
                        $('.comment-form').append('<div class="alert alert-warning" role="alert">' + data.msg + '</div>');
                    // oriAlert(data.msg);
                },
                fail: function () {
                    console.log("fail");
                }
            });
        }
        jQuery(function () {
            var urlOrigin = location.origin;
            var siteTagsName = jQuery('.hid-SiteTagsName').val();
            if (siteTagsName) {
                var siteTagsNameArr = siteTagsName.split(',');
                var htmlArr = [];
                for (var i = 0; i < siteTagsNameArr.length; i++) {
                    //插入
                    htmlArr.push('<a href="' + urlOrigin + '/@Model.TypeCode/' + siteTagsNameArr[i] + '/1.html"><span>' + siteTagsNameArr[i] + '</span></a>');
                }
                jQuery('.div-SiteTags').append(htmlArr.join(', '));
            }

        });
    </script>
}
