@{
    //ViewBag.Title = ViewBag.Title+"-优站分享-为开发者提供一些便利";
}
@model IEnumerable<BetterSite.Domain.M_Sites>

@*<div class="midd-top">
        @{
            Html.RenderAction("_TagCrtl", "Tags");
        }
    </div>*@
@*<div>
        @foreach (var item in Model )
        {
            <div>@item.SiteName</div>
        }
    </div>*@
<style>
    p {
        margin: 0px;
        color: #555;
        display: block;
        font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 24px;
        text-indent: 30px;
    }

    small {
        word-wrap: break-word;
    }

    .list-group-item-heading {
        margin: 5px 0 3px 0;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            @{
                Html.RenderAction("_TagCrtl", "Tags");
            }
        </div>
        <div class="col-md-8">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item li-site-item">
                        <h4 class="list-group-item-heading">
                            <a href="@item.SiteUrl" target="_blank">@item.SiteName</a>
                            <br /><small>@item.SiteUrl</small>
                        </h4>
                      
                        <p>
                            @item.SiteProfile
                           
                        </p>
                        <div class="div-SiteTags" style="margin:6px auto -3px 30px;"></div>   @*<a class="btn btn-default btn-xs disabled" href="/Sites/DR">@item.SiteTagsName</a>*@
                        <input type="hidden" class="hid-SiteTagsName" value="@item.SiteTagsName" />
                        @*<input type="hidden" class="hid-SiteTagsId" value="@item.SiteTagsId" />*@
                    </li>
                }
            </ul>
            @*@foreach (var item in Model)
                                {
                            <div class="list-group">
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">@item.SiteName</h4>
                                    <p class="list-group-item-text">@item.SiteUrl</p>
                                </div>

                            </div>
                }*@
            @*<table class="table  table-hover">
                    <tr>
                        <th>首页－视频</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <h4>@item.SiteName</h4>
                                <div>
                                    <a href="#">访问站点</a>
                                    <a href="#">站点介绍</a>
                                </div>
                            </td>
                        </tr>
                        }
                </table>*@
        </div>
        <div class="col-md-2">
            相关站点
        </div>
    </div>
</div>
@section scripts {
    <script>
        jQuery(function () {
            Array.prototype.contains = function (item) {
                // return RegExp("^" + item + "$").test(this);
                for (i = 0; i < this.length; i++) {
                    if (this[i] == item) { return true; }
                }
                return false;
            };
            // debugger;
            //为标签绑定事件
            jQuery('form [name=Tag]').each(function (i, elem) {
                elem.onchange = function () {
                    jQuery('form').submit();
                };
            });
            //为每个站点的标签添加事件
            //debugger;
            // var urlFilename = (location.href.match(/\/([^\/]+)$/)[1]).split('?')[0];
            var urlPath = location.href.match(/\/([^\/]+)$/)[1];
            var urlFilenameArr = urlPath.split('?');
            var urlFilename = '';
            //debugger;
            if (urlFilenameArr.length == 2 && urlFilenameArr[1]) {
                urlFilename = '' + urlPath;
                if (urlFilename.lastIndexOf('&') != (urlFilename.length - 1)) {
                    urlFilename += '&';
                }
            } else {
                urlFilename = '' + urlFilenameArr[0];
                if (urlFilename.lastIndexOf('?') != (urlFilename.length - 1)) {
                    urlFilename += '?';
                }
            }
            //debugger;
            var paramValueArr = urlFilenameArr[1]?urlFilenameArr[1].split('&'):[];
            var siteItemArr = jQuery('.li-site-item');
            jQuery.each(siteItemArr, function (i_site, n_site) {
                var siteTagsName = jQuery(n_site).find('.hid-SiteTagsName').val();
                //var siteTagsId = jQuery(n_site).find('.hid-SiteTagsId').val();
                if (siteTagsName) {
                    var siteTagsNameArr = siteTagsName.split(',');
                    // var siteTagsIdArr = siteTagsId.split(',');
                    var htmlArr = [];
                    for (var i = 0; i < siteTagsNameArr.length; i++) {
                        if (paramValueArr.contains('Tag=' + encodeURI(siteTagsNameArr[i]))) {
                            // htmlArr.push('<a class="btn btn-default btn-xs disabled" href="' + urlFilename + 'Tag=' + siteTagsNameArr[i] + '">' + siteTagsNameArr[i] + '</a>');
                            htmlArr.push('<a class="btn btn-default btn-xs active" href="' + urlFilename.replace('Tag=' + encodeURI(siteTagsNameArr[i]) + '&', '') + '">' + siteTagsNameArr[i] + '</a>');
                        } else {
                            //htmlArr.push('<a class="btn btn-default btn-xs" href="' + urlFilename + 'TagId=' + siteTagsIdArr[i] + '">' + siteTagsNameArr[i] + '</a>');
                            htmlArr.push('<a class="btn btn-default btn-xs" href="' + urlFilename + 'Tag=' + siteTagsNameArr[i] + '">' + siteTagsNameArr[i] + '</a>');
                        }
                    }
                    jQuery(n_site).find('.div-SiteTags').append(htmlArr.join(' '));
                }
            });
           
            ///活动菜单
            //var urlFilename = location.href.match(/\/([^\/]+)$/);
            if (urlFilenameArr[0]) {
                $(".navbar li:has(a[href$='/Sites/" + urlFilenameArr[0] + "'])").addClass("active");
            }
            //搜索功能
            jQuery('#SearchForm').keyup(function (e) {
                if (e.keyCode == 13) {
                    var txt=jQuery(this).val();
                    //Search();
                    if (txt) {
                        jQuery('.li-site-item').css('display', 'none');
                        jQuery('.li-site-item:contains(' + txt + ')').css('display', 'block');
                    } else {
                        jQuery('.li-site-item').css('display', 'block');
                    }
                    //高亮显示
                    //jQuery('.li-site-item a').text().replace(txt, '<b>' + txt + '</b>');
                    var site_a= jQuery('.li-site-item a');//.text().replace(txt, '<b>' + txt + '</b>');
                   jQuery.each(site_a, function (i, n) {
                       //jQuery(n).html(jQuery(n).text().replace(txt, '&ltb&gt' + txt + '&lt/b&gt'));
                       jQuery(n).html(jQuery(n).text().replace(txt, '<b>' + txt + '</b>'));
                   });
                }
            });
        });
    </script>
}
