@{
    //ViewBag.Title = ViewBag.Title+"-优站分享-为开发者提供一些便利";
}
@model IEnumerable<BetterSite.Domain.M_Sites>
<style>

</style>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            @{
                Html.RenderAction("_TagCrtl", "Tags");
            }
        </div>
        <div class="col-md-8">
            <p> 共计：@Model.Count() 条</p>
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item li-site-item">
                        <h4 class="list-group-item-heading">
                            @*<a href="@item.SiteUrl" target="_blank">@item.SiteName</a>*@
                            <a href="/Sites/@item.SiteCode" target="_blank" title="@item.SiteUrl">@item.SiteName</a>
                            <br /><small>@item.SiteUrl</small>
                            <br /><small class="site-add-date">@item.SiteAddDate</small>
                        </h4>
                        <h5>类别: <a href="/Sites/@item.TypeCode" target="_self" title="@item.TypeName">@item.TypeName</a></h5>
                        <p>
                            @Html.Raw(item.SiteProfile)

                        </p>
                        <div class="div-SiteTags" style="margin:6px auto -3px 30px;"></div>   @*<a class="btn btn-default btn-xs disabled" href="/Sites/DR">@item.SiteTagsName</a>*@
                        <input type="hidden" class="hid-SiteTagsName" value="@item.SiteTagsName" />
                        @*<input type="hidden" class="hid-SiteTagsId" value="@item.SiteTagsId" />*@
                    </li>
                }
</ul>

 
        </div>
        <div class="col-md-2">
            本类热门站点
        </div>
    </div>
</div>
@section scripts {    
}
