@model IList<BetterSite.Domain.M_Sites>
<style>
    .gjlist {
        border-bottom: 1px dotted #ccc;
         /*border-top: 1px dotted #ccc;*/
        clear: both;
        overflow: hidden;
        width: 100%;
        padding: 15px 0;
        margin-left:10px;
    }

        .gjlist .pic {
            float: left;
            width: 200px;
            margin: 10px 0 0 20px;
        }

        .gjlist .incon {
            float: right;
            width: 420px;
        }

        .gjlist h2 {
            position: relative;
            width: 99%;
            margin-top: 2px;
            font-size: 16px;
            margin-bottom: 0px;
            /*padding-bottom:0px;*/
        }

        .gjlist p {
            /*line-height: 150%;*/
            margin: 0px;
            padding: 0px;
            color: #666;
            /*margin-top: 20px;*/
            font-size: 12px;
            text-indent: 26px;
        }

            .gjlist p.l {
                color: #999;
            }

    .fl {
        float: left;
    }

    .fr {
        float: right;
    }

    .gjlist h2 span {
        background: url('../../Content/images/eye.png')0 0px no-repeat;
        padding-left: 23px;
        color: #fd7658;
        position: absolute;
        right: 0;
    }

    .title {
        width: 340px;
        display: block;
        overflow: hidden;
        word-break: keep-all;
        white-space: nowrap;
        text-overflow: ellipsis;
        float: left;
        text-decoration: none;
        color: #666;
    }

        .title:hover {
            text-decoration: underline;
            color: #62bee3;
        }

    .gjlist p.siteprofile {
        height: 84px;
    }

    p.siteprofile > span > a {
        color: #666;
    }

    .visit img {
        margin-left: 5px;
    }

    .pagepath {
        margin-top: 10px;
    }

        .pagepath span {
            margin: 30px;
        }

        .pagepath .divhr {
            border-top: 1px solid #ccc; /*solid 1px #97d2fa;*/
            margin-left:10px;
        }
    .tagmenu li {
        list-style-image: none;
        list-style-type: none;
        margin: 5px;
        float: left;
    }
    .tagmenu {
        height:30px;
        padding:0 40px 0 40px;
    }
        .tagmenu li a {
            margin: 0px;
        }
    .tagmenu li a:hover,
    #menu1 li.active a {
        color: #555;
    }
</style>
<div class="pagepath">
    <span class="curpostion">当前位置: </span>
    <div class="divhr"></div>
    <span> 共找到 <b>@ViewBag.ListCount</b> 个网站</span>
        <ul class="tagmenu">
            <li><label>本类别热门标签:</label></li>
            @foreach (var item in ViewBag.TypeTags)
            {
                <li>
            <a href="/@ViewBag.TypeCode/@item.TagName/1.html" title="@item.TagName">@item.TagName</a>
                </li>
            }
        </ul>
</div>
@foreach (var item in Model)
{
    <div class="gjlist">
        <div class="pic">
            <a href="/sites/@item.SiteCode" target="_blank" title="@item.SiteName">
                <img src="~/Images/SiteScreen\@{@item.SiteCode}.jpg" alt="@item.SiteName" title="@item.SiteName" width="190" />
            </a>
        </div>
        <div class="incon">
            <h2 class="fl">
                <a class="title" href="/sites/@item.SiteCode" target="_blank" title="@item.SiteUrl"> @item.SiteName</a>
                <span>@item.SiteClickQuantity</span>

            </h2>
            <p>类别: <a href="/@item.TypeCode/1.html" target="_self" title="@item.TypeName">@item.TypeName</a></p>
            <p class="siteprofile">
                @if (item.SiteProfile != null)
                {
                    @Html.Raw((item.SiteProfile.Length > 130 ? item.SiteProfile.Substring(0, 130) : item.SiteProfile).Replace("<p/>","") );
                }...
                <span><a href="/sites/@item.SiteCode" target="_blank" title="更多网站介绍">更多</a></span>
                <span>
                    <a href="@item.SiteUrl" class="visit" target="_blank" rel="nofollow">
                        <img src="~/Content/images/visit.png" style="border: none;" width="14" height="14" alt="icon" title="直达官方网站 &#10; @item.SiteUrl">
                    </a>
                </span>
            </p>
            <p class="l fl div-SiteTags">
                标签:
            </p>
            <input type="hidden" class="hid-SiteTagsName" value="@item.SiteTagsName" />
            <input type="hidden" class="hid-SiteTypeCode" value="@item.TypeCode" />
            <p class="l fr site-add-date">@item.SiteAddDate</p>
        </div>
    </div>
    }
<div>
    <ul class="tagmenu">
        <li><label>本类别热门标签:</label></li>
        @foreach (var item in ViewBag.TypeTags)
            {
            <li>
                <a href="/@ViewBag.TypeCode/@item.TagName/1.html" title="@item.TagName">@item.TagName</a>
            </li>
        }
    </ul>
</div>
<div>
    <p class="pages">       
        <a href="">&laquo;上一页</a>
        <label>@ViewBag.Page/@ViewBag.PageCount</label>
        <a href="">下一页&raquo;</a>
    </p>
</div>
    @section Scripts
    {
        <script>
            jQuery(function () {
                //分页
                var page= @ViewBag.Page;
                var pageCount=@ViewBag.PageCount;
                jQuery('.pages a').css('display','none');
                if(page>1){
                    jQuery('.pages a:first').css('display','inline');
                    jQuery('.pages a:first').attr('href',location.href.replace(/\d{1,5}\.html/ ,(-1+page)+'.html'));
                }
                if(page< pageCount){
                    jQuery('.pages a:last').css('display','inline');
                    jQuery('.pages a:last').attr('href',location.href.replace(/\d{1,5}\.html/ ,(1+page)+'.html'));
                }
                //debugger;
                //为每个站点的标签添加事件
                var urlFilename = location.href;
                var urlarr=  location.pathname.toLowerCase().split('/');
                urlarr.pop();
                urlarr.push('1.html');
                var siteItemArr = jQuery('.gjlist');
                jQuery.each(siteItemArr, function (i_site, n_site) {
                    var siteTagsName = jQuery(n_site).find('.hid-SiteTagsName').val();
                    var siteTypeCode = jQuery(n_site).find('.hid-SiteTypeCode').val();
                    if (siteTagsName) {
                        var siteTagsNameArr = siteTagsName.split(',');
                        var htmlArr = [];

                        for (var i = 0; i < siteTagsNameArr.length; i++) {
                            if(urlarr.length==3){//插入
                                urlarr.splice(2,0,siteTagsNameArr[i]);
                                htmlArr.push('<a href="' + urlarr.join('/') + '"><span>' + siteTagsNameArr[i] + '</span></a>');
                            } else  if(urlarr.length==4){//修改
                                urlarr.splice(2,1,siteTagsNameArr[i]);
                                htmlArr.push('<a href="' + urlarr.join('/') + '"><span>' + siteTagsNameArr[i] + '</span></a>');
                            }else  if(urlarr.length==2){//首页搜索进入
                                //urlarr.splice(2,1,siteTagsNameArr[i]);
                                htmlArr.push('<a href="/' +siteTypeCode +'/'+ siteTagsNameArr[i]+ '/1.html"><span>' + siteTagsNameArr[i] + '</span></a>');
                            }
                        }
                        jQuery(n_site).find('.div-SiteTags').append(htmlArr.join(', '));
                    }
                });
                //位置导航
                var types={sucai:'免费素材',gongju:'在线工具',haowan:'发现好玩',chaxun:'便民查询',tisheng:'个人提升',zhuanlan:'行业专栏',sites:'全部',other:'其它',gengxin:'最新收录'};
                var postionhtml='<a href="/" title="home">首页</a>';
                urlarr=decodeURI( location.pathname).toLowerCase().split('/');
                urlarr.pop();
                if(urlarr&&urlarr.length>1){
                    var curtype=urlarr[1];
                    postionhtml+=' &gt; <a href="/'+curtype+'/1.html" title="'+curtype+'">'+types[curtype]+'</a>';
                    if(urlarr.length>2){
                        var curtag=urlarr[2];
                        postionhtml+=' &gt; <a href="/'+curtype+'/'+curtag+'/1.html" title="'+curtag+'">'+curtag+'</a> ';
                    }
                }
                jQuery('.curpostion').append(postionhtml);
                //搜索辅助功能
                var txt = decodeURI(Url.getParam('keyword'));
                if (txt != 'undefined') {
                    jQuery('#SearchForm').val(txt);
                    jQuery('.curpostion').append(' > 搜索“'+txt+'”');
                }
                ////高亮显示
                //var site_a = jQuery('.li-site-item h4').children();
                //jQuery.each(site_a, function (i, n) {
                //    jQuery(n).html(jQuery(n).text().replace(txt, '<mark>' + txt + '</mark>'));
                //});
            })
        </script>
    }
