@{
    //ViewBag.Title = ViewBag.Title+"-优站分享-为开发者提供一些便利";
}
@model IEnumerable<BetterSite.Domain.M_Sites>

@*<div class="midd-top">
        @{
            Html.RenderAction("_TagCrtl", "Tags");
        }
    </div>*@
@*<div>
        @foreach (var item in Model )
        {
            <div>@item.SiteName</div>
        }
    </div>*@
<style>


    small {
        word-wrap: break-word;
    }

    .list-group-item-heading {
        margin: 5px 0 3px 0;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            @{
                Html.RenderAction("_TagCrtl", "Tags");
            }
        </div>
        <div class="col-md-8">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item li-site-item">
                        <h4 class="list-group-item-heading">
                            @*<a href="@item.SiteUrl" target="_blank">@item.SiteName</a>*@
                            <a href="/Sites/@item.SiteCode" target="_self" title="@item.SiteUrl">@item.SiteName</a>
                            <br /><small>@item.SiteUrl</small>  
                            <br /><small class="site-add-date">@item.SiteAddDate</small>                         
                        </h4> 
                        <h5>类别: <a href="/Sites/@item.TypeCode" target="_self" title="@item.TypeName">@item.TypeName</a></h5>                     
                        <p>
                            @item.SiteProfile
                           
                        </p>
                        <div class="div-SiteTags" style="margin:6px auto -3px 30px;"></div>   @*<a class="btn btn-default btn-xs disabled" href="/Sites/DR">@item.SiteTagsName</a>*@
                        <input type="hidden" class="hid-SiteTagsName" value="@item.SiteTagsName" />
                        @*<input type="hidden" class="hid-SiteTagsId" value="@item.SiteTagsId" />*@
                    </li>
                }
            </ul>
            @*@foreach (var item in Model)
                                {
                            <div class="list-group">
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">@item.SiteName</h4>
                                    <p class="list-group-item-text">@item.SiteUrl</p>
                                </div>

                            </div>
                }*@
            @*<table class="table  table-hover">
                    <tr>
                        <th>首页－视频</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <h4>@item.SiteName</h4>
                                <div>
                                    <a href="#">访问站点</a>
                                    <a href="#">站点介绍</a>
                                </div>
                            </td>
                        </tr>
                        }
                </table>*@
        </div>
        <div class="col-md-2">
            相关站点
        </div>
    </div>
</div>
@section scripts {
 <!--<script>
    //标签云的处理
        jQuery(function () {
            debugger;
            var urlPath = location.href.match(/\/([^\/]+)$/)[1];
            var urlFilenameArr = urlPath.split('?');
            var urlFilename = '';
            //debugger;
            if (urlFilenameArr.length == 2 && urlFilenameArr[1]) {
                urlFilename = '' + urlPath;
                if (urlFilename.lastIndexOf('&') != (urlFilename.length - 1)) {
                    urlFilename += '&';
                }
            } else {
                urlFilename = '' + urlFilenameArr[0];
                if (urlFilename.lastIndexOf('?') != (urlFilename.length - 1)) {
                    urlFilename += '?';
                }
            }
            jQuery('.Tag-Single').each(function (_i, _e) {
                var _ej=jQuery(_e);
                if (_ej.find('.active').length) {
                    _ej.children().attr('href', urlFilename.replace('Tag=' + encodeURI(_ej.children().text()) + '&', ''));
                } else {
                    _ej.children().attr('href', urlFilename + 'Tag=' + encodeURI(_ej.children().text()));
                }
            });
        })
</script>-->
    @*<script>
        jQuery(function () {     
            // debugger;
            //为标签绑定事件
            //jQuery('form [name=Tag]').each(function (i, elem) {
            //    elem.onchange = function () {
            //        jQuery('form').submit();
            //    };
            //});
            //为每个标签添加事件
           // debugger;
            // var urlFilename = (location.href.match(/\/([^\/]+)$/)[1]).split('?')[0];
            var localhrefmat = location.href.match(/\/([^\/]+)$/);
            if (localhrefmat) {
                var urlPath = localhrefmat[1];
                var urlFilenameArr = urlPath.split('?');
                var urlFilename = '';
                //debugger;
                if (urlFilenameArr.length == 2 && urlFilenameArr[1]) {
                    urlFilename = '' + urlPath;
                    if (urlFilename.lastIndexOf('&') != (urlFilename.length - 1)) {
                        urlFilename += '&';
                    }
                } else {
                    urlFilename = '' + urlFilenameArr[0];
                    if (urlFilename==''||urlFilename.lastIndexOf('?') != (urlFilename.length - 1)) {
                        urlFilename += '?';
                    }
                }
                //debugger;
                //为每个站点的标签添加事件
                var paramValueArr = urlFilenameArr[1] ? urlFilenameArr[1].split('&') : [];
                var siteItemArr = jQuery('.li-site-item');
                jQuery.each(siteItemArr, function (i_site, n_site) {
                    var siteTagsName = jQuery(n_site).find('.hid-SiteTagsName').val();
                    //var siteTagsId = jQuery(n_site).find('.hid-SiteTagsId').val();
                    if (siteTagsName) {
                        var siteTagsNameArr = siteTagsName.split(',');
                        // var siteTagsIdArr = siteTagsId.split(',');
                        var htmlArr = [];
                        for (var i = 0; i < siteTagsNameArr.length; i++) {
                            if (paramValueArr.contains('Tag=' + encodeURI(siteTagsNameArr[i]))) {
                                // htmlArr.push('<a class="btn btn-default btn-xs disabled" href="' + urlFilename + 'Tag=' + siteTagsNameArr[i] + '">' + siteTagsNameArr[i] + '</a>');
                                htmlArr.push('<a class="btn btn-default btn-xs active" href="' + urlFilename.replace('Tag=' + encodeURI(siteTagsNameArr[i]) + '&', '') + '">' + siteTagsNameArr[i] + '</a>');
                            } else {
                                //htmlArr.push('<a class="btn btn-default btn-xs" href="' + urlFilename + 'TagId=' + siteTagsIdArr[i] + '">' + siteTagsNameArr[i] + '</a>');
                                htmlArr.push('<a class="btn btn-default btn-xs" href="' + urlFilename + 'Tag=' + siteTagsNameArr[i] + '">' + siteTagsNameArr[i] + '</a>');
                            }
                        }
                        jQuery(n_site).find('.div-SiteTags').append(htmlArr.join(' '));
                    }
                });
                ///为标签云添加事件
                jQuery('.Tag-Single').each(function (_i, _e) {
                    var _ej = jQuery(_e);
                    if (_ej.find('.active').length) {
                        _ej.children().attr('href', urlFilename.replace('Tag=' + encodeURI(_ej.children().text()) + '&', ''));
                    } else {
                        _ej.children().attr('href', urlFilename + 'Tag=' + encodeURI(_ej.children().text()));
                    }
                });
                ///活动菜单
                //var urlFilename = location.href.match(/\/([^\/]+)$/);
                if (urlFilenameArr[0]) {
                    $(".navbar li:has(a[href$='/Sites/" + urlFilenameArr[0] + "'])").addClass("active");
                }
            }
      
            //搜索辅助功能
            //jQuery('#SearchForm').keyup(function (e) {
            //    if (e.keyCode == 13) {
            var txt = decodeURI(Url.getParam('SearchText'));          
            if (txt != 'undefined') { jQuery('#SearchForm').val(txt).focus(); }
                    ////Search();
                    //if (txt) {
                    //    jQuery('.li-site-item').css('display', 'none');
                    //    jQuery('.li-site-item:contains(' + txt + ')').css('display', 'block');
                    //} else {
                    //    jQuery('.li-site-item').css('display', 'block');
                    //}
                    //高亮显示
                    //jQuery('.li-site-item a').text().replace(txt, '<b>' + txt + '</b>');
            var site_a = jQuery('.li-site-item h4').children();//.text().replace(txt, '<b>' + txt + '</b>');
                   jQuery.each(site_a, function (i, n) {
                       //jQuery(n).html(jQuery(n).text().replace(txt, '&ltb&gt' + txt + '&lt/b&gt'));
                       jQuery(n).html(jQuery(n).text().replace(txt, '<mark>' + txt + '</mark>'));
                       //jQuery(n).next().html(jQuery(n).next().text().replace(txt, '<mark>' + txt + '</mark>'));
                   });
            //    }
            //});
            //搜索标签功能
                   jQuery('#SearchTag').keyup(function (e) {
                       if (e.keyCode == 13) {
                           var _this = jQuery(this);
                           $(".Tag-Single a").css('font-weight', 'normal');
                           var tagName = _this.val();
                           if (tagName) {
                               _this.next().css('display', 'none');
                               ///var exisTag = $(".Tag-Single label:contains('" + tagName + "')");
                               //if (exisTag.length) {
                               //    exisTag.css('font-weight', 'bold');
                               //    return;
                               //} else {
                               //    jQuery(this).next().css('display', 'initial');
                               //}
                              /// debugger;
                               var isn = false;
                               $(".Tag-Single a").each(function (i, e) {
                                   if (jQuery(e).text().toLowerCase().indexOf(tagName.toLowerCase()) > -1) {
                                       jQuery(e).css('font-weight', 'bold');
                                       isn = true;
                                   }
                               });
                               if (!isn) _this.next().css('display', 'initial');
                           }
                       }
                   });
        });
    </script>*@
}
