@{
    ViewBag.Title = "优站分享-为开发者提供一些便利";
}
@model IList<BetterSite.Domain.M_Sites>

@*<div>
        <h2>这是首页</h2>
        @foreach (var item in Model )
        {
            <div>@item.SiteName</div>
        }

    </div>*@
<style>
    .container {
    }
    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > td {
        padding-bottom: 0px;
    }

    .table-condensed {
        margin-bottom: 0px;
    }
    /*.panel-body{
       padding:0px;
       margin:0px;
    }*/
</style>
<div class="container">
    <div class="row">
        @*左侧 最新收录*@
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">站长推荐@*<small style="float:right"><a href="#">更多</a></small>*@ </h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                                            @foreach (var item in ViewBag.IsTop)
                                            {
                                                <li style="height:25px;width:140px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; ">
                                                    <small>★</small><a href="@item.SiteUrl" target="_blank" title="@item.SiteName &#10; @item.SiteUrl"> @item.SiteName </a>
                                                </li>

                                            }
                                        </ul>

                    @*<table class="table table-condensed ">

                        <tbody>
                            @foreach (var item in ViewBag.New)
                            {
                                <tr>
                                    <td>
                                        <a href="@item.SiteUrl" target="_blank" title="@item.SiteUrl">@item.SiteName</a>
                                        <div class="text-right"><small>@item.SiteAddDate</small></div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot><tr><td><small style="float:right"><a href="#">更多</a></small></td></tr></tfoot>
                    </table>*@

                </div>
            </div>
        </div>
        @*中间 分类站点*@
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-condensed ">
                        @*<caption><h3>资源</h3></caption>*@
                        <thead>
                            <tr>
                                <th><h4>学技术</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.JS)
                            {
                                <tr>
                                    <td>
                                        <a href="@item.SiteUrl" target="_blank" title="@item.SiteUrl">@item.SiteName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot><tr><td><small style="float:right"><a href="/Sites/JS">更多</a></small></td></tr></tfoot>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-condensed ">
                        @*<caption><h3>资源</h3></caption>*@
                        <thead>
                            <tr>
                                <th><h4>找资源</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ZY)
                            {
                                <tr>
                                    <td>
                                        <a href="@item.SiteUrl" target="_blank" title="@item.SiteUrl">@item.SiteName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot><tr><td><small style="float:right"><a href="/Sites/ZY">更多</a></small></td></tr></tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-condensed ">
                        @*<caption><h3>资源</h3></caption>*@
                        <thead>
                            <tr>
                                <th><h4>善发现</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ZX)
                            {
                                <tr>
                                    <td>
                                        <a href="@item.SiteUrl" target="_blank" title="@item.SiteUrl">@item.SiteName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot><tr><td><small style="float:right"><a href="/Sites/ZX">更多</a></small></td></tr></tfoot>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-condensed ">
                        @*<caption><h3>资源</h3></caption>*@
                        <thead>
                            <tr>
                                <th><h4>爱生活</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.SH)
                            {
                                <tr>
                                    <td>
                                        <a href="@item.SiteUrl" target="_blank" title="@item.SiteUrl">@item.SiteName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot><tr><td><small style="float:right"><a href="/Sites/SH">更多</a></small></td></tr></tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @*<div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">最新收录 </h4>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group  new-site">
                                @foreach (var item in Model)
                                {
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading">
                                            <a href="@item.SiteUrl" target="_blank">@item.SiteName</a>
                                            <br /><small>@item.SiteUrl</small>
                                            <br /> <small class="site-add-date">@item.SiteAddDate</small>
                                        </h4>
                                        <p>
                                            @item.SiteProfile
                                        </p>
                                    </li>
                                }
                            </ul>
                            </div>
                        </div>*@
                            <table class="table table-condensed ">
                        <thead>
                            <tr>
                                <th><h4>最新收录</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.New)
                            {
                                <tr>
                                    <td>    
                                        <h5 class="site-add-date">@item.SiteAddDate</h5>                                    
                                        <h4>
                                            
                                            <a href="@item.SiteUrl" target="_blank" title="@item.SiteUrl">@item.SiteName</a>
                                            <br /><small>@item.SiteUrl</small>
                                          
                                        </h4>
                                        <p>
                                            @item.SiteProfile
                                        </p>

                                    </td>
                                   
                                </tr>
                              
                            }
                        </tbody>
                        <tfoot><tr><td><small style="float:right"><a href="/Sites/DR">更多</a></small></td></tr></tfoot>
                    </table>
                        </div>
                    </div>
                </div>
        @*右侧 常用站点*@
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">常用站点</h4>

                </div>
                <div class="panel-body">
                    <ul class="list-unstyled ">
                        @foreach (var item in ViewBag.IsHome)
                        {
                            <li style="height:25px;width:140px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; ">
                                <small>★</small><a href="@item.SiteUrl" target="_blank" title="@item.SiteName &#10; @item.SiteUrl"> @item.SiteName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           
            </div>
        </div>
</div>
@section Scripts
{
    <script>
        jQuery(function () {
            jQuery(".new-site a").each(function (n, ele) {
                // if ((ele.innerText.replace(/[^\x00-\xff]/, 'aa')).length > 12) {  //一个全角字符2个长度
                if ((ele.innerText).length > 12) {
                    // ele.innerText = ele.innerText.substr(0, 12) + '..';
                    ele.innerText = ele.innerText.substring(0, 12) + '..';
                }
            });
            jQuery(".site-add-date").each(function (n, ele) {
                if (ele.innerText.length > 0) {
                    ele.innerText = ele.innerText.substr(0, 11);
                }
            });
        })
    </script>
}